---
IndentWidth: 4
ColumnLimit: 0
PointerAlignment: Left
AllowShortLoopsOnASingleLine: true
AlignConsecutiveAssignments: true
AlignOperands: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
BreakBeforeBraces: Attach
BreakBeforeCloseBracketBracedList: true
SortIncludes: false
SpaceAfterCStyleCast: true
SkipMacroDefinitionBody: true
BinPackArguments: true
BinPackParameters: true
IndentCaseLabels: true
